:root {
    --text-color: red;
}

p {
    color: var(--text-color);
}

h2 {
    color:blueviolet;
}

body {
    background-image: url('background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}
.ptext {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:darkcyan;
}
