:root {
    --text-color: #FADDFD;
}

p {
    color: var(--text-color);
    font-size: 16px;
    margin-top: -20px;
    margin-left: 130px;
    margin-right: 130px;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 24px;
    padding: 20px;
}

body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
}

header {
    color: white;
    padding: 70px;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

.stylish-heading {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    animation: moveText 2s linear infinite alternate;
}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}

section {
    padding: 20px;
    margin-top: -80px
}
